<!DOCTYPE html>
<html>
<<<<<<< HEAD
<head>
	<title>Bookstore</title>
	<!-- link css font awesome -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0"/>
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body class="ps-static  cms-index-index cms-home">
	<div class="wrapper ps-static en-lang-class">
		<div class="header-container">
			<div class="page">
				<%= render "scraffold/swipe" %>
				<%= render "scraffold/nav_container" %>
				<%= render "layouts/header" %>
				<div class="main-container col2-left-layout">
					<div class="container">
						<div class="row">
							<div class="col-xs-12">
								<div class="main">
									<div class="row">
										<div class="col-main col-xs-12 col-sm-9">
              								<div class="padding-s">
											<%= render 'shared/flash_messages'%>
											<%= yield %>
											</div>
											</div>
											<%= render "layouts/sidebar" %>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<%= render "layouts/footer" %>
			</div>
		</div>
	</div>
</body>
=======
  <head>
    <title><%= t ".title" %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>
  </head>

  <body>
    <%= yield %>
  </body>
>>>>>>> 93e1edce96a7f74b2c238449055fc18e737df60e
</html>
